@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}


.question-header{
  width: 500px !important;
}

.new-question{
  margin: 20px !important;
  /* padding: 10px 10px 10px 10px; */
}

.question-table{
  height: 300px !important;
  padding: 0 10px 10px 10px !important;
  overflow: scroll !important;
}

#main-page{
  overflow-y: scroll;
}

.create-form{
  display:flex !important;
  flex-direction: column !important;
  justify-content: left !important;
  
}

.post-question-button{
  margin-left: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.question-field {
  width: 500px !important;
  min-height: 100px !important;
}

.question-field-input {
  width: 500px;
  height: 100px;
  overflow-wrap: break-word;
}

.difficulty-level{
  width: 300px !important;
  margin-top: 22px !important;
}

.error-message{
  color: red;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.view-details{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.description{
  width: 500px !important;
  text-overflow: clip;
}
