@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.question-field{
  width: 500px !important;
  height: 200px !important;
}

.question-header{
  width: 500px !important;
}

.new-question{
  margin: 20px !important;
}

.question-table{
  height: 300px !important;
  padding: 0 10px 10px 10px !important;
  overflow: scroll !important;
}