@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.question-field{
  width: 500px !important;
}

.question-header{
  width: 500px !important;
}

.new-question{
  margin: 20px !important;
  /* padding: 10px 10px 10px 10px; */
}

.question-table{
  height: 300px !important;
  padding: 0 10px 10px 10px !important;
  overflow: scroll !important;
}

#main-page{
  overflow-y: scroll;
}

.create-form{
  display:flex !important;
  flex-direction: row !important;
}

.post-question-button{
  margin-left: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.question-name-field{
  margin-left: 10px !important;
}

.question-field{
  margin-left: 20px !important;
  margin-right: 20px !important;
}